:root {
    --font-color: #242424;
    --light-grey: rgba(255, 255, 255, 0.87);
    --white: #ffffff;
}

h3 {
    border-bottom: 2px solid #242424;
}

p {
    margin: 0;
}

button {
    border-radius: 4px;
    border: 2px solid black;
}

/* GENERAL INFORMATION SECTION */
.general-info-section {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.general-info-section>div {
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
}

.general-info-section input {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.general-info-section>button {
    align-self: flex-start;
}

h2 {
    /* border: 2px solid black; */
    font-size: xx-large;
    text-align: center;
}

/* PROFILE SECTION */
.profile-section {
    /* border: 2px solid blue; */
}

/* EDUCATION SECTION */
.education-section {
    /* border: 2px solid brown; */
}

.education-section .school-info {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
}

.education-section .achievements {
    /* border: 1px solid blue; */
}

/* EXPERIENCE SECTION */
.experience-section {
    /* border: 2px solid orange; */
}

.experience-section .company-info {
    display: flex;
    justify-content: space-between;
}

.experience-section .achievements {
    /* border: 1px solid blue; */
}