.general-info>div>div {
    display: flex;
    flex-direction: column;
}

.general-info>div>div>input {
    width: 200px;
    height: 23px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.part-one {
    display: flex;
    justify-content: space-around;
}

.part-two {
    display: flex;
    justify-content: space-around;
}

.buttons-container {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}